body {
  background: none;
}

.body_panel {
  position: absolute;
  top: 0; 
  right: 0;
  bottom: 0;
  left: 0;
}

body-dock {
  position: absolute;
  top: 0;
  right: 0;
  min-height: 75px;
}

.donation_panel {
  margin-top: 100px;
  margin-bottom: 50px;
  font-size: 12px;
  font-family: 'Armata Regular';
}

.donation_panel_control {
  border-image:url(coui://ui/main/shared/img/panel/img_menu_panel.png) 14 22 22 22;
  border-width:14px 22px 22px 22px;
  box-shadow: inset 1000px 1000px 1000px 1000px #000;
  position: relative;
  min-width: 20em;
  min-height: 5em;
}

.donation_panel_cont {
  border-image:url(coui://ui/main/shared/img/panel/img_menu_panel.png) 14 22 22 22;
  border-width:14px 22px 22px 22px;
  box-shadow: inset 1000px 1000px 1000px 1000px #000;
  margin:-13px 8px -30px 8px;
  position: relative;
}

.donation_panel h3 {
  margin: 0;
  margin-bottom: -8px;
}

.donation_panel table {
  max-height: 80vh;
  overflow-y: auto;
  overflow-x: visible;
}

tbody {
  border: solid #1e7aa1 1px;
}

tbody:hover {
  background:#00b3ff;
}

tbody.selected {
  background:#1e7aa1;
}

tbody.insufficient {
  background: #800;
}

tbody.finished {
  opacity: 0.5;
}

.amount {
  text-align: right;
  color: #0f0;
  font-weight: bold;
  padding-right: 0.5em;
}

.min-total {
  text-align: right;
  color: #ff0;
  font-weight: bold;
}

.donor {
  text-align: right;
  color: #888;
}

.cancel {
  text-align: right;
  color: #F00;
  padding-left: 1em;
  font-weight: bold;
}

.cancel:hover {
  color: black;
  background-color: red;
}

.code {
  font-size: 20px;
  background:#1e7aa1;
  color: black;
  font-weight: bold;
}

.uncode {
  background:#1e7aa1;
  color: black;
  font-weight: bold;
}

.player {
  background:#a2a;
  color: black;
  font-weight: bold;
}

.planet {
  background:#2a2;
  color: black;
  font-weight: bold;
}

.minimum {
  font-size: 20px;
  color: #ff0;
  font-weight: bold;
  padding-left: 1em;
}

